html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: var(--bClr4);
  margin: 0;
}

* {
  box-sizing: border-box;
  /* background-color: transparent;
  outline: 1px solid black; */
}

dialog {
  background: var(--clr10);
}

a {
  text-decoration: none;
  color: inherit;
}

.primary-btn {
  background: none;
  border: none;
  background-color: var(--bClr3);
  border-radius: var(--br);
  color: var(--bClr2);
  font-weight: 600;
  letter-spacing: 0.1em;
  display: grid;
  place-content: center;
}

.icon {
  border: none;
  background: none;
  box-shadow: 0 0 1px 0 var(--clr7);
  border-radius: 0.5rem;
}

.blur-bg {
  border-radius: 0.5rem;
}

.secondary-btn {
  border: none;
  background-color: var(--bClr2);
  outline: 1px solid var(--bClr3);
  color: var(--bClr3);
  border-radius: var(--br);
}
