html {
  font-family: 'AR', sans-serif;
  letter-spacing: 1px;
}

body {
  height: 100vh;
  height: 100dvh;
  color: var(--bClr4);
  margin: 0;
  overflow-x: hidden;



  &.staging {
    border: 3px solid red;
  }

}

* {
  box-sizing: border-box;
  /* background-color: transparent;
  outline: 1px solid black; */
}

dialog {
  background: var(--clr10);
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.primary-btn {
  background: none;
  border: none;
  background-color: var(--bClr3);
  border-radius: var(--br);
  color: var(--bClr2);
  font-weight: 600;
  letter-spacing: 0.1em;
  display: grid;
  place-content: center;
  /* background-image: url('@/assets/images/recipe/R-1.jpeg'); */
}


.secondary-btn {
  font-size: 1rem;
  border: none;
  background-color: var(--bClr2);
  outline: 1px solid var(--bClr3);
  color: var(--bClr3);
  border-radius: var(--br);
}

.error-btn {
  border: none;
  background-color: var(--bClr2);
  outline: 1px solid var(--clr12);
  color: var(--clr12);
  padding: 0.5rem 0.8rem;
  border-radius: var(--br);
}

.special-btn {
  border: none;
  background-color: var(--bClr6);
  font-weight: 700;
  color: var(--bClr2);
  border: 1px solid var(--bClr2);
  border-radius: var(--br);
}

.icon {
  border: none;
  background: none;
  box-shadow: 0 0 2px 0 var(--clr7);
  border-radius: 0.5rem;
}

.blur-bg {
  border-radius: 0.5rem;
}

details summary::-webkit-details-marker {
  display: none;
}

.icon-svg {
  border: none;
  background-color: var(--bClr3) !important;
  border-radius: 50%;
  padding: 0.2rem;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: grid;
  place-content: center;
  color: white;
  font-size: 0.8rem;
  transition: background-color 0.2s ease;
}

.icon-svg:hover {
  background-color: var(--bClr4) !important;
}

.icon-svg svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

input,
select {
  padding: 0.75rem;
  border: 1px solid var(--bClr2);
  border-radius: var(--br);
  font-size: 0.9rem;
  background-color: var(--bClr2);
  color: var(--bClr4);
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.2s, box-shadow 0.2s;

    &:valid {
        border: 1px solid var(--bClr5);
    }

    &:invalid {
        border: 1px solid var(--bClr6);
    }

    &:not(:placeholder-shown) {
        border: 1px solid var(--bClr5);
    }

    &:not(:placeholder-shown):invalid {
        border: 1px solid var(--bClr6);
    }

    &:focus {
        outline: transparent;
        /* background-color: var(--bClr1); */
        /* box-shadow: 0 0 0 2px rgba(68, 138, 255, 0.15); */

    }
   



}

.no-scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
 overflow: -moz-scrollbars-none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.rtl{
  direction: rtl;
}

.ltr{
  direction: ltr;
}

textarea {
  resize: none;
  font-family: inherit;
}


