@font-face {
    font-family: 'AR';
    src: url('@/assets/typography/Assistant-Regular.ttf');

}

@font-face {
    font-family: 'AB';
    src: url('@/assets/typography/Assistant-Medium.ttf');
}


@font-face {
    font-family: 'AL';
    src: url('@/assets/typography/Assistant-Light.ttf');
}





